@tailwind base;
@tailwind components;
@tailwind utilities;
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    color: #212529;
    background: #fff;
}

.container {
    margin: 0 auto;
    max-width: 82rem;
}

/* Buttons */
.button-orange:hover {
    background-color: #fb5b21;
    color: #f5f5f5;
}

.button-white:hover {
    background-color: #f5f5f5;
    color: #fb5b21;
    cursor: pointer;
}

.button-black:hover {
    background-color: #000000;
    color: #f5f5f5;
    cursor: pointer;
}

.background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

/* Classes */
.class-card:hover .filter {
    transform: scaleY(100%);
    height: 100%;
}

.class-card:hover .lower {
    background-color: #fb5b21;
}

.class-card:hover span {
    color: #f5f5f5;
}

/* BMI */
table {
    border-spacing: 2px;
    border-collapse: separate;
}

td,
th {
    background-color: #fb5b21e1;
    padding: 10px 10px 10px 30px;
}

th {
    padding: 13px 10px 13px 30px;
}

th:first-child {
    border-radius: 20px 0 0 0;
}

th:last-child {
    border-radius: 0 20px 0 0;
}

/* shadow */
.price-wrapper::after {
    content: "";
    background: rgb(255, 255, 255);
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0.2) 50%,
        rgba(255, 255, 255, 0.1) 70%,
        rgba(255, 255, 255, 0) 80%
    );
    width: 100%;
    height: 5px;
    border-radius: 40%;
    position: hidden;
    z-index: 30;
    bottom: 12px;
    transition: ease-in-out 0.3s;
}

.price-wrapper:hover::after {
    position: absolute;
    bottom: 0;
}

.float:hover {
    margin-top: -12px;
}

/* Slick */
.testimonial-card {
    display: flex !important;
}

.testimonials .slick-track {
    gap: 2rem;
}

.testimonials .slick-dots {
    bottom: -5rem;
}

.testimonials .slick-dots .slick-active button::before {
    color: #fb5b21;
    opacity: 1;
}

.testimonials .slick-dots li button::before {
    font-size: 10px;
}

.testimonials .slick-dots li button:hover::before {
    color: #fb5b21;
}

.slick-list {
    padding-top: 1rem;
}

.slick-track {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

@media (max-width: 400px) {
    .slick-track {
        gap: 0;
    }
}

.blog-card {
    display: flex !important;
    flex-direction: column;
    gap: 0.5rem;
}

.class-card,
.trainers-card,
.blog-card {
    padding: 0 2.5px 0 2.5px;
}
